<div class="tab-menu-mobile js-horizon-menu">
  <div class="position-relative">
    <ul class='tab-menu-1 active' data-name="first">
      <a href="javascript:void(0)" class="header-mobile-menu">
        Menu
      </a>
      {% for link in linklists[section.settings.main_menu_store].links %}
      <li class="link1"><a href="{{link.url}}">{{link.title | split: '[' | first }}{% if link.levels > 0 %}<i   {% if link.levels > 0 %}class="fa fa-angle-right js-link-click" data-click="1-{{link.title | split: '[' | first }}"{% endif %}></i>{% endif %}</a></li>
      {% endfor %}
    </ul>
    {% for link in linklists[section.settings.main_menu_store].links %}
    {% if link.levels > 0 %}
    <ul class="tab-menu-2" data-open="1-{{link.title |  split: '[' | first }}">
      <a href="javascript:void(0)" class="js-header-mobile-menu header-mobile-menu">
        <i class="fa fa-angle-left"></i> {{link.title | split: '[' | first }}
      </a>
      {% for link1 in link.links %}
      <li class="link2"><a href="{{link1.url}}" >{{link1.title | split: '[' | first }}{% if link1.levels > 0 %}<i {% if link1.levels > 0 %}class="js-link-click fa fa-angle-right" data-click="2-{{link1.title |  split: '[' | first }}"{% endif %}></i>{% endif %}</a></li>
      {% endfor %}
    </ul>
    {% for link1 in link.links %}
    {% if link1.levels > 0 %}
    <ul class="tab-menu-3" data-open="2-{{link1.title | split: '[' | first }}">
      <a href="javascript:void(0)" class="js-header-mobile-menu header-mobile-menu">
        <i class="fa fa-angle-left"></i>  {{link1.title | split: '[' | first }}
      </a>
      {% for link2 in link1.links %}
      <li class="link3"><a href="{{link2.url}}">{{link2.title | split: '[' | first }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="bg-horizon-menu js-bg-horizon-menu">
</div>