{% if section.settings.select_fts == "footer_v1" %}
{% if template contains 'index' %}
<footer class="footer_v1" >
  <div class="top-footer">
    <div class="container container-v1">    
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="info_footer end">
            <div class="logo-top">
              {% if settings.logo_svg1 !=blank %}
              <div class="logosvg m-auto m-md-0" style="max-width:{{settings.fv1_main_logo_maxwidth}}px;">
                <a class="d-block" href="{{shop.url}}">{{settings.logo_svg1}}</a>
              </div>          
              {% else %}            
              <a href="{{shop.url}}" class="logo">
                {% if settings.fv1_main_logo != blank %}
                <img src="{{settings.fv1_main_logo | img_url:'master'}}"  width="{{settings.fv1_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
                {% else %}
                <img src="//via.placeholder.com/160x46" width="{{settings.fv1_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
                {% endif %}
              </a>
              {% endif %}
            </div>
            {% if settings.content_colum_fv1_4 != blank  %}
            <p class="mb-0 content_footer">{{settings.content_colum_fv1_4}}</p>
            {% endif %}

            <div class="list-icon">
              <ul class="list-inline list-unstyled mb-0">
                {% if settings.icon_sc_fv1_1 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_1}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_2 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_2}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_3 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_3}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_4 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_4}}"></i></a>
                </li>
                {% endif %} 
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv1_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6  {% if settings.enable_rtl_mode %} text-lg-right text-md-right {% else %}text-lg-left text-md-left{% endif %}">
          {% if settings.fv1_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv1_bottom_copyright}}</p>
          {% else %}
          <div class="text-copyright mb-0"><p class="mb-0">© Copyright 2021 | <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  HerbyoStore </a> By <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
          </div> 
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %}text-lg-left text-md-left {% else %}text-lg-right text-md-right {% endif %}">
          {% if settings.fv1_bottom_payment_img != blank %}
          <img src="{{settings.fv1_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//via.placeholder.com/247x23"  alt="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>
<style>
  .footer_v1 .top-footer{
    background : {{section.settings.ft_home_bg_footer}};
  }
  .footer_v1 .copyright{
    background : {{section.settings.ft_home_bg_footer}};
  }
  .footer_v1 .top-footer .info_footer .title_border:after{
    background-color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .top-footer .info_footer h4{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .top-footer .info_footer ul li a{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .top-footer .info_footer .content_footer{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .copyright .text-copyright{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .copyright .text-copyright a {
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v1 .top-footer .info_footer.end .list-icon ul li a{
    color : {{section.settings.ft_home_color_text}};
  }
</style>
{% endif %}
{% endif %}

{% if section.settings.select_fts_all == "footer_ver1" %}
{% unless template contains 'index' %}
<footer class="footer_v1" >
  <div class="top-footer">
    <div class="container container-v1">    
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <div class="info_footer end">
            <div class="logo-top">
              {% if settings.logo_svg1 !=blank %}
              <div class="logosvg m-auto m-md-0" style="max-width:{{settings.fv1_main_logo_maxwidth}}px;">
                <a class="d-block" href="{{shop.url}}">{{settings.logo_svg1}}</a>
              </div>          
              {% else %}            
              <a href="{{shop.url}}" class="logo">
                {% if settings.fv1_main_logo != blank %}
                <img src="{{settings.fv1_main_logo | img_url:'master'}}"  width="{{settings.fv1_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
                {% else %}
                <img src="//via.placeholder.com/160x46" width="{{settings.fv1_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
                {% endif %}
              </a>
              {% endif %}
            </div>
            {% if settings.content_colum_fv1_4 != blank  %}
            <p class="mb-0 content_footer">{{settings.content_colum_fv1_4}}</p>
            {% endif %}

            <div class="list-icon">
              <ul class="list-inline list-unstyled mb-0">
                {% if settings.icon_sc_fv1_1 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_1}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_1}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_2 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_2}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_2}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_3 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_3}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_3}}"></i></a>
                </li>
                {% endif %}
                {% if settings.icon_sc_fv1_4 !=blank %}
                <li class="list-inline-item">
                  <a href="{{settings.url_sc_fv1_4}}" title="" target="_blank" class="social-item"><i class="{{settings.icon_sc_fv1_4}}"></i></a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv1_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv1_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>

      </div>
    </div>
  </div>
  {% if settings.enable_fv1_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6  {% if settings.enable_rtl_mode %} text-lg-right text-md-right {% else %}text-lg-left text-md-left{% endif %}">
          {% if settings.fv1_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv1_bottom_copyright}}</p>
          {% else %}
          <div class="text-copyright mb-0"><p class="mb-0">© Copyright 2021 | <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  HerbyoStore </a> By <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
          </div> 
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 {% if settings.enable_rtl_mode %}text-lg-left text-md-left {% else %}text-lg-right text-md-right {% endif %}">
          {% if settings.fv1_bottom_payment_img != blank %}
          <img src="{{settings.fv1_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//via.placeholder.com/247x23"  alt="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>
<style>
  .footer_v1 .top-footer{
    background : {{section.settings.ft_other_bg_footer}};
  }
  .footer_v1 .copyright{
    background : {{section.settings.ft_other_bg_footer}};
  }
  .footer_v1 .top-footer .info_footer .title_border:after{
    background-color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .top-footer .info_footer h4{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .top-footer .info_footer ul li a{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .top-footer .info_footer .content_footer{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .copyright .text-copyright{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .copyright .text-copyright a  {
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v1 .top-footer .info_footer.end .list-icon ul li a{
    color : {{section.settings.ft_other_color_text}};
  }
</style>
{% endunless %}
{% endif %}
