{% if section.settings.select_fts == "footer_v4" %}
{% if template contains 'index' %}
<footer class="footer_v4" style="background-color : {{section.settings.ft_home_bg_footer}}">

  <div class="top-footer">
    <div class="container container-v1 ">    
      <div class="row">
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_4}}</h4>         
            </div>
            {% if settings.content_colum_fv4_5_1 != blank %}
            {{settings.content_colum_fv4_5_1}}
            {% else %}
            <ul class="list-unstyled mb-0">

              <li><a href="tel:0123 456 789" title="Phone: 0123 456 789"><i class="fa fa-phone "></i>0123 456 789</a></li>

              <li><a href="tel:0123 456 789" title="Fax: 0123 456 789"><i class="fa fa-fax "></i>0123 456 789</a></li>

              <li><a href="mailto:themeocean.team@gmail.com" title="Mail : themeocean.team@gmail.com"><i class="fa fa-envelope "></i>themeocean@gmail.com</a></li>

              <li><a href="/" title="Address : 1201 Broadway Suite 600 New York"><i class="fa fa-location-arrow"></i>1201 Broadway Suite 600</a></li>

            </ul>
            {% endif %}

            <div class="mt-3">
              {{settings.content_colum_fv4_5}}
            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="info_footer end">
            <div class="title_footer ">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_5}}</h4>         
            </div>
            {% if settings.content_colum_fv4_4 != blank  %}
            <p class="mb-0 content_footer">{{settings.content_colum_fv4_4}}</p>
            {% endif %}

            {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
            {% else %}
            {% assign form_action = '#' %}
            {% endif %}          
            <form class="needs-validation fv4-form " action="{{form_action}}" method="post">
              <div class="mb-0">                           
                <input type="email" name="EMAIL" class=" text-input" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">                 
              </div>
              <button class="btn" type="submit">{{ 'general.newsletter_form.submit_footer' | t }}</button>
            </form>                        
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv4_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-md-4 col-lg-5 {% if settings.enable_rtl_mode %} text-md-right {% else %}text-md-left {% endif %} text-center">
          <div class="logo-footer">
            {% if settings.logo_svg4 !=blank %}
            <div class="logosvg m-auto m-md-0" style="max-width:{{settings.fv4_main_logo_maxwidth}}px;">
              <a class="d-block" href="{{shop.url}}">{{settings.logo_svg4}}</a>
            </div>          
            {% else %}            
            <a href="{{shop.url}}" class="logo">
              {% if settings.fv4_main_logo != blank %}
              <img src="{{settings.fv4_main_logo | img_url:'master'}}"  width="{{settings.fv4_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% else %}
              <img src="//via.placeholder.com/127x35" width="{{settings.fv4_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% endif %}
            </a>
            {% endif %}
          </div>
        </div>

        <div class="col-md-4 col-lg-2  text-center">
          {% if settings.fv4_bottom_payment_img != blank %}
          <img src="{{settings.fv4_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//via.placeholder.com/247x23"  alt="">
          {% endif %}
        </div>

        <div class="col-md-4 col-lg-5  {% if settings.enable_rtl_mode %} text-md-left {% else %}text-md-right {% endif %} text-center">
          {% if settings.fv4_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv4_bottom_copyright}}</p>
          {% else %}
          {% if settings.enable_rtl_mode %}
          <div class="text-copyright mb-0"><p>© <a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a>  <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean</a> By  <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  HerbyoStore </a> | 2021 Copyright   </p> 
          </div>          
          {% else %}
          <div class="text-copyright mb-0"><p>© Copyright 2021 | <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  HerbyoStore </a> By <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</footer>
<style>
  .footer_v4 .top-footer .title_footer h4{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v4 .top-footer .info_footer ul li a{
    color : {{section.settings.ft_home_color_text}};
  }
  .footer_v4 .top-footer .content_footer{
    color : {{section.settings.ft_home_color_text}};
  }
</style>
{% endif %}
{% endif %}

{% if section.settings.select_fts_all == "footer_ver4" %}
{% unless template contains 'index' %}
<footer class="footer_v4 " style="background-color : {{section.settings.ft_other_bg_footer}}">
  <div class="top-footer">
    <div class="container container-v1 ">    
      <div class="row">
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv4_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_4}}</h4>         
            </div>
            {% if settings.content_colum_fv4_5_1 != blank %}
            {{settings.content_colum_fv4_5_1}}
            {% else %}
            <ul class="list-unstyled mb-0">

              <li><a href="tel:0123 456 789" title="Phone: 0123 456 789"><i class="mr-2 fa fa-phone "></i>0123 456 789</a></li>

              <li><a href="tel:0123 456 789" title="Fax: 0123 456 789"><i class="mr-2 fa fa-fax "></i>0123 456 789</a></li>

              <li><a href="mailto:themeocean.team@gmail.com" title="Mail : themeocean.team@gmail.com"><i class=" mr-2 fa fa-envelope "></i>themeocean.team@gmail.com</a></li>

              <li><a href="/" title="Address : 1201 Broadway Suite 600 New York"><i class="mr-2 fa fa-location-arrow"></i>1201 Broadway Suite 600</a></li>

            </ul>
            {% endif %}

            <div class="mt-3">
              {% if settings.content_colum_fv4_5 != blank  %}
              {{settings.content_colum_fv4_5}}
              {% else %}
              <ul class="list-inline list-unstyled mb-0">
                <li class="list-inline-item">
                  <a href="" title="" class="social-item"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" title="" class="social-item"><i class="fa fa-dribbble"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" title="" class="social-item"><i class="fa fa-behance"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="" title="" class="social-item"><i class="fa fa-instagram"></i></a>
                </li>

              </ul>
              {% endif %}
            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="info_footer end">
            <div class="title_footer ">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv4_5}}</h4>         
            </div>
            {% if settings.content_colum_fv4_4 != blank  %}
            <p class="mb-0 content_footer">{{settings.content_colum_fv4_4}}</p>
            {% endif %}

            {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
            {% else %}
            {% assign form_action = '#' %}
            {% endif %}          
            <form class="needs-validation fv4-form " action="{{form_action}}" method="post">
              <div class="form-group mb-0">                           
                <input type="email" name="EMAIL" class="text-input" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">                 
              </div>
              <button class="btn" type="submit">{{ 'general.newsletter_form.submit_footer' | t }}</button>
            </form>                        
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv4_bottom %}
  <div class="copyright">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-md-4 col-lg-5 {% if settings.enable_rtl_mode %} text-md-right {% else %}text-md-left {% endif %} text-center">
          <div class="logo-footer">
            {% if settings.logo_svg4 !=blank %}
            <div class="logosvg m-md-0 m-auto" style="max-width:{{settings.fv4_main_logo_maxwidth}}px;">
              <a class="d-block" href="{{shop.url}}">{{settings.logo_svg4}}</a>
            </div>          
            {% else %}            
            <a href="{{shop.url}}" class="logo">
              {% if settings.fv4_main_logo != blank %}
              <img src="{{settings.fv4_main_logo | img_url:'master'}}"  width="{{settings.fv4_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% else %}
              <img src="//via.placeholder.com/127x35" width="{{settings.fv4_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% endif %}
            </a>
            {% endif %}
          </div>
        </div>

        <div class="col-md-4 col-lg-2  text-center">
          {% if settings.fv4_bottom_payment_img != blank %}
          <img src="{{settings.fv4_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//via.placeholder.com/247x23"  alt="">
          {% endif %}
        </div>
        <div class="col-md-4 col-lg-5  {% if settings.enable_rtl_mode %} text-md-left {% else %}text-md-right {% endif %} text-center">
          {% if settings.fv4_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv4_bottom_copyright}}</p>
          {% else %}
          {% if settings.enable_rtl_mode %}
          <div class="text-copyright mb-0"><p>© <a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a>  <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean</a> By  <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  HerbyoStore </a> | 2021 Copyright   </p> 
          </div>          
          {% else %}
          <div class="text-copyright mb-0"><p>© Copyright 2021 | <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  HerbyoStore </a> By <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</footer>
<style>
  .footer_v4 .top-footer .title_footer h4{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v4 .top-footer .info_footer ul li a{
    color : {{section.settings.ft_other_color_text}};
  }
  .footer_v4 .top-footer .content_footer{
    color : {{section.settings.ft_other_color_text}};
  }
</style>
{% endunless %}
{% endif %}