<div class="aboutus-pages">
  {% if section.settings.enable_intro %}
  <div class="container container-v4">  
    <div class="about-introduce">
      {% for block in section.blocks %}
      {% if block.type == 'introduce' %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 1 %}
      <div class="row">
        <div class="col-md-6 intro_detail d-flex align-items-center order-md-1 order-2">
          <div class="info-intro ">
            <h3 class="title_intro">{{block.settings.title_intro}}</h3>
            <p class="des_intro">{{block.settings.des_intro}}</p>

            <div class="content_intro">{{block.settings.content_intro}}</div>
          </div>
        </div>
        <div class="col-md-6 intro_image order-md-2 order-1">
          <img class="w-100" src="{% if block.settings.image_intro != blank %} {{block.settings.image_intro | img_url : 'master'}} {% else %}//via.placeholder.com/660x600{% endif %}">
        </div>
      </div>          
      {% else %}

      <div class="row">
        <div class="col-md-6 intro_image">
          <img class="w-100" src="{% if block.settings.image_intro != blank %} {{block.settings.image_intro | img_url : 'master'}} {% else %}//via.placeholder.com/660x600{% endif %}">
        </div>
        <div class="col-md-6 intro_detail d-flex align-items-center">
          <div class="info-intro">
            <h3 class="title_intro">{{block.settings.title_intro}}</h3>
            <p class="des_intro">{{block.settings.des_intro}}</p>

            <div class="content_intro">{{block.settings.content_intro}}</div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "About Introduce",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_intro",
      "label": "Enable",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "introduce",
      "name": "Introduce",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_intro",
          "label": "Image Introduce",
          "info": "670x600px recommended"
        },
        {
          "type": "text",
          "id": "title_intro",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "des_intro",
          "label": "Description"
        },
        {
          "type": "html",
          "id": "content_intro",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
