<!-- /templates/404.liquid -->
<div id="content" style="background-image : url({% if settings.bg_error != blank  %}{{settings.bg_error | img_url : 'master'}} {% else %}//via.placeholder.com/1900x1000 {% endif %}) ; background-repeat: no-repeat;
    background-size: cover;">
  <div class="content-page">
    <div class="container">
      <div class="content-404">
        <h1 class="title-404">{{settings.title_page}}</h1>
        <h2 class="page-title">{{settings.des_page}}</h2>
        <p class="sub-title">{{settings.sub_page}}</p>
        <p class="sub-link">{{settings.sub_title_404}} <a href="/">{{settings.sub_link}}</a></p>
        <div class="search">
          <form class="wg-search-form" action="/search">
            <input type="text" placeholder="{{settings.search_placeholder}}" name="q" value="{{ search.terms | escape }}"  />
            <button type="submit" value=""><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

