<section class="coming_soon" style="background-color: {% if settings.password_color != blank %}{{settings.password_color}}{% endif %}">
  <div class="top_coming_soon">
    <div class="container text-center">
      {% if settings.password_title != blank %}
      <span class="text-uppercase">{{settings.password_title}}</span>
      {% endif %}
      {% if settings.description_password_title != blank %}
      <h1 class="mb-0">{{settings.description_password_title}}</h1>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="time">
      <div class="row justify-content-center text-center">
        {% if settings.ymdhps_password != blank %}
        <ul class="mb-0 list-inline list-unstyled " data-countdown="password-countdown" data-date="{{settings.ymdhps_password}}">
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="signup">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-9 text-center">
          <form action="{{form_action}}" method="post">
            <div class="form-group mb-0">
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="{{ 'general.password_page.signup_form_email_placeholder2' | t }}">
            </div>           
            <button type="submit" class="btn btn-primary">{{ 'general.password_page.sign_up' | t }}</button>
          </form>

          {% form 'storefront_password' %}
          <h5>{{ 'general.password_page.login_form_heading' | t }}</h5>
          {{ form.errors | default_errors }}
          <div class="form-group form_end mb-0">
            <input type="password" name="password" class="form-control" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            <button type="submit" class="btn btn-primary">{{ 'general.password_page.signup_form_submit' | t }}</button>
          </div>         
          {% endform %}

          <p>{{ 'general.password_page.admin_link_html' | t }}</p>

          <ul class="list-inline list-unstyled mb-0 icon text-center">
            <li class="list-inline-item mr-0">
              <a href="{{settings.url_pass_1}}" title="" target="_blank" class="{{settings.icon_pass_1}}"></a>
            </li>
            <li class="list-inline-item mr-0">
              <a href="{{settings.url_pass_2}}" title="" target="_blank" class="{{settings.icon_pass_2}}"></a>
            </li>
            <li class="list-inline-item mr-0">
              <a href="{{settings.url_pass_3}}" title="" target="_blank" class="{{settings.icon_pass_3}}"></a>
            </li>
            <li class="list-inline-item mr-0">
              <a href="{{settings.url_pass_4}}" title="" target="_blank" class="{{settings.icon_pass_4}}"></a>
            </li>                         
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .promo_topbar , #header ,header,footer
  {
    display:none !important;
  }
</style>
{% schema %}
{
  "name": "Password name",
  "settings": [
    
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
