<div class="wrap-bread-crumb breadcrumb_collection2">
  <div class="text-center bg-breadcrumb" style="background-image : url({% if section.settings.bg_breadcrumb != blank  %}{{section.settings.bg_breadcrumb | img_url : 'master'}} {% else %}//via.placeholder.com/1920x510 {% endif %})">
    <div class="title-page">

      <h2 class="">{{page.title}}</h2>

    </div>
  </div>
</div>
<section>
  <div class="container container-v1 style1 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Default Style 1</h3>
    </div>
    <div class="row mt-5">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">
        <div class="product-item-v1">
          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative" >
              <div style="{% if sold_out %} opacity: 0.3 {% endif %}"> 
                <a  href="{{ product.url | within: collection }}" class="engoj_find_img">
                  <img  data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload w-100 img-responsive" alt="{{ product.featured_image.alt | escape }}">
                  {% for image in product.images %}
                  {% if forloop.last %}
                  <img  data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload w-100 img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                  {% endif %}
                  {% endfor %}
                </a>
              </div>

              <!--     label product -->

              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                {{settings.sale_label_name}}
              </figure>
              {% endif %}
              {% endif %}
              {% if product_label_new %}
              {% if settings.show_new_label %}
              {% if product.compare_at_price > product.price %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}
              {% endif %}

              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              {% if settings.enable_catalog_mode == false%}
              <div class="product-icon-action">
                <div class="add-wishlist">
                  {% include 'add-wishlist' %} 
                </div>

                <div class="add-to-cart">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                    {% if settings.pia_sold_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_sold}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                    {% if settings.pia_selectoption_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_selectoption_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_selectoption}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart margin_right_10 box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {% if settings.pia_addcart_svg != blank  %}
                      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
                      {% else %}
                      <i class="{{settings.pia_addcart}}" style="font-size: 22px;"></i>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </div>

                <div class="quick-view">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </div>
              </div>
              {% endif %}
              <!--     END ICON -->

              <!--     SOLD OUT -->
              {% if sold_out %}
              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              <div class="sold-out ">
                <a href="{{ product.url | within: collection }}" class="uppercase">sold out</a>
              </div>
              {% endif %}
              <!-- END SOLD OUT     -->
              {% if product.metafields.engo_countdown_prod.countdown_datetime != blank %}
              <div class="countdown-timer text-center">
                <ul data-countdown="countdown-v1" data-date="{{product.metafields.engo_countdown_prod.countdown_datetime}}">
                </ul>
              </div> 
              {% endif %}
            </div>
            <div class="info-product">
              <h4 class="des-font capital title-product mb-0 flex">
                <a href="{{ product.url | within: collection }}">{{ product.title}}</a>

              </h4>
              <!--     PRICE -->
              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}
              {% if settings.enable_catalog_mode == false%}
              <p class="price-product">
                <span class="price">{{ product.price | money }}</span>
                {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
              </p>
              {% endif %}
              <!-- END PRODUCT     -->


              <!--     THUMBNAIL PRODUCT -->

              {% if product.variants.size > 1 %}
              <div class="d-flex align-items-center image-thumbnail">
                <div class="variant-image-group engoj_select_color ">
                  {% for option in product.options %}
                  {% if option == 'Color' %}  
                  {% assign index = forloop.index0 %}
                  {% assign colorlist = '' %}
                  {% assign color = '' %}
                  {% for variant in product.variants limit:4 %}
                  {% capture color %}{{ variant.options[index] }}{% endcapture %}
                  {% unless colorlist contains color %}
                  {% assign text = color | handleize %}
                  <span class=" border_thumbnail" >
                    <a  class="{% if forloop.first %}active {% endif %}circle-thumb js_change_border" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
                  </span>

                  {% capture tempList %}
                  {{ colorlist | append: color | append: ' ' }}
                  {% endcapture %}

                  {% assign colorlist = tempList %}
                  {% endunless %}
                  {% endfor %}

                  {% endif %}
                  {% endfor %}
                </div>
                <div class="more_variant">

                  {% for option in product.options_with_values %}
                  {% if option.name  == 'Color' %} 
                  {% for value in option.values %}
                  {% if forloop.index > 4 %}
                  <a href="{{ product.url | within: collection }}">+ {{forloop.index | minus : 4}}</a>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {%endif%}

              <!-- END THUMBNAIL     -->
            </div>
          </div>
        </div>  
      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>

  <div class="container container-v1 style2 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Classic Style 2</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">

        <div class="product-item-v2">

          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>

              <!--     label product -->

              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <ul class="product-icon-action list-unstyled mb-0 text-center">     

                <li class="add-to-cart mr-0">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                    {% if settings.pia_sold_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_sold}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                    {% if settings.pia_selectoption_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_selectoption_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_selectoption}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {% if settings.pia_addcart_svg != blank %}
                      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
                      {% else %}
                      <i class="{{settings.pia_addcart}}"></i>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </li>  
                <li class="quick-view mr-0">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </li>
                <li class="add-wishlist mr-0">
                  {% include 'add-wishlist' %} 
                </li>
              </ul>
              <!--     END ICON -->

            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a> 
              <p class="price-product mb-0">
                {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
                <span class="price">{{ product.price | money }}</span>
              </p>
            </h4>
            <!--     PRICE -->
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}


            <!-- END PRODUCT     -->

            <!-- VARIANT PRODUCT -->

            <nav class="engoj_select_color variant-product">
              {% for option in product.options %}
              {% if option == 'Color' or option == 'Colour' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="">
                <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </nav>

            <!-- END VARIANT     -->

            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->
          </div>
        </div>  
      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>


  <div class="container container-v1 style2 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Classic Style 3</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">

        <div class="product-item-v3">

          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>

              <!--     label product -->

              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}

              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <ul class="product-icon-action list-unstyled mb-0 text-center">          
                <li class="add-to-cart mr-0">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                    {% if settings.pia_sold_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_sold}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                    {% if settings.pia_selectoption_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_selectoption_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_selectoption}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {% if settings.pia_addcart_svg != blank %}
                      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
                      {% else %}
                      <i class="{{settings.pia_addcart}}"></i>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </li>  
                <li class="quick-view mr-0">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </li>
                <li class="add-wishlist mr-0">
                  {% include 'add-wishlist' %} 
                </li>
              </ul>
              <!--     END ICON -->
            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a>     
              <!--     PRICE -->
              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              <p class="price-product mb-0">
                {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
                <span class="price">{{ product.price | money }}</span>
              </p>
            </h4>

            <!-- END PRODUCT     -->

            <!-- VARIANT PRODUCT -->

            <nav class="engoj_select_color variant-product">
              {% for option in product.options %}
              {% if option == 'Color' or option == 'Colour' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="">
                <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </nav>


            <!-- END VARIANT     -->
            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->

          </div>
        </div>  
      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>


  <div class="container container-v1 style2 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Classic Style 4</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">

        <div class="product-item-v4">
          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>
              <!--     label product -->

              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}




              {% if on_sale %}
              {% if settings.show_sale_label %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <ul class="product-icon-action list-unstyled mb-0 text-center">     

                <li class="add-to-cart mr-0">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                    {% if settings.pia_sold_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_sold}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                    {% if settings.pia_selectoption_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_selectoption_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_selectoption}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {% if settings.pia_addcart_svg != blank %}
                      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
                      {% else %}
                      <i class="{{settings.pia_addcart}}"></i>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </li>  
                <li class="quick-view mr-0">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </li>
                <li class="add-wishlist mr-0">
                  {% include 'add-wishlist' %} 
                </li>
              </ul>
              <!--     END ICON -->

            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a>
              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              <p class="price-product mb-0">
                {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
                <span class="price">{{ product.price | money }}</span>
              </p>
            </h4>
            <!--     PRICE -->

            <!-- END PRODUCT     -->

            <!-- VARIANT PRODUCT -->

            <nav class="engoj_select_color variant-product">
              {% for option in product.options %}
              {% if option == 'Color' or option == 'Colour' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="">
                <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </nav>
            <!-- END VARIANT     -->


            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->

          </div>
        </div>  
      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>


  <div class="container container-v1 style2 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Icons & Add To Cart Style 5</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">
        <div class="product-item-v5">

          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" datasrc="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>

              <!--     label product -->


              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              {% if product_label_new %}
              {% if settings.show_new_label %}
              <figure style= "background : {{settings.new_label_color}}; color: {{settings.new_label_text_color}}"  class="absolute uppercase label-new text-center">
                {{settings.new_label_name}}
              </figure>
              {% endif %}
              {% endif %}


              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <div class="product-icon-action d-flex mb-0 text-center">      
                <div class="add-wishlist mr-0 w-50">
                  {% include 'add-wishlist' %} 
                </div>
                <div class="quick-view mr-0 w-50">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </div>
              </div>
              <!--     END ICON -->


              <nav class="engoj_select_color variant-product">
                {% for option in product.options %}
                {% if option == 'Color' or option == 'Colour' %}
                {% assign index = forloop.index0 %}
                {% assign colorlist = '' %}
                {% assign color = '' %}
                {% for variant in product.variants %}
                {% capture color %}{{ variant.options[index] }}{% endcapture %}
                {% unless colorlist contains color %}

                {% assign text = color | handleize %}
                <span class="">
                  <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
                </span>

                {% capture tempList %}
                {{ colorlist | append: color | append: ' ' }}
                {% endcapture %}

                {% assign colorlist = tempList %}
                {% endunless %}

                {% endfor %}
                {% endif %}
                {% endfor %}
              </nav>
            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a>      
            </h4>
            <!--     PRICE -->
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}

            <p class="price-product mb-0">
              <span class="price">{{ product.price | money }}</span>
              {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}

            </p>
            <!-- END PRODUCT     -->


            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->

            <div class="add-to-cart mr-0">
              {% if sold_out %}
              <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                {{settings.pia_sold_name}}
              </a>
              {% else %}
              {% if product.variants.size > 1 %}
              <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                {{settings.pia_selectoption_name}}
              </a>
              {% else %}
              <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                <button type="submit" name="add" class="enj-add-to-cart-btn ">
                  {{settings.pia_addcart_name}}
                </button>
              </form>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>

  <div class="container container-v1 style2 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Overlay Infos Style 6</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">
        <div class="product-item-v6">

          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>  
              <!--     label product -->
              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <ul class="product-icon-action list-unstyled mb-0 text-center">     

                <li class="add-to-cart mr-0">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                    {% if settings.pia_sold_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_sold}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                    {% if settings.pia_selectoption_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_selectoption_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_selectoption}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {% if settings.pia_addcart_svg != blank %}
                      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
                      {% else %}
                      <i class="{{settings.pia_addcart}}"></i>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </li>  
                <li class="quick-view mr-0">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </li>
                <li class="add-wishlist mr-0">
                  {% include 'add-wishlist' %} 
                </li>


              </ul>
              <!--     END ICON -->

            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a>      
            </h4>
            <!--     PRICE -->
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}

            <p class="price-product mb-0">
              {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
              <span class="price">{{ product.price | money }}</span>
            </p>
            <!-- END PRODUCT     -->

            <!-- VARIANT PRODUCT -->

            <nav class="engoj_select_color variant-product">
              {% for option in product.options %}
              {% if option == 'Color' or option == 'Colour' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="">
                <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </nav>


            <!-- END VARIANT     -->

            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->

          </div>

        </div>  

      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>

  <div class="container container-v1 style2 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Box-Shadow Style 7</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">

        <div class="product-item-v7">

          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>  
              <!--     label product -->
              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <ul class="product-icon-action list-unstyled mb-0 text-center">     

                <li class="add-to-cart mr-0">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                    {% if settings.pia_sold_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_sold}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                    {% if settings.pia_selectoption_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_selectoption_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_selectoption}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {% if settings.pia_addcart_svg != blank %}
                      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
                      {% else %}
                      <i class="{{settings.pia_addcart}}"></i>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </li>  
                <li class="quick-view mr-0">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </li>
                <li class="add-wishlist mr-0">
                  {% include 'add-wishlist' %} 
                </li>


              </ul>
              <!--     END ICON -->


            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a>      
            </h4>
            <!--     PRICE -->
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}

            <p class="price-product mb-0">
              {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
              <span class="price">{{ product.price | money }}</span>
            </p>
            <!-- END PRODUCT     -->

            <!-- VARIANT PRODUCT -->

            <nav class="engoj_select_color variant-product">
              {% for option in product.options %}
              {% if option == 'Color' or option == 'Colour' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="">
                <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </nav>


            <!-- END VARIANT     -->

            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->

          </div>

        </div>  

      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>

  <div class="container container-v1 style2 mt-5 pb-3 br-bottom">
    <div class="text-center">
      <h3 class="title_heading">Full Info Style 8</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">

        <div class="product-item-v8">
          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>  
              <!--     label product -->
              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              <!--     END LABEL -->

            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a>      
            </h4>
            <!--     PRICE -->
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}

            <p class="price-product mb-0">
              {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
              <span class="price">{{ product.price | money }}</span>
            </p>
            <!-- END PRODUCT     -->

            <!-- VARIANT PRODUCT -->

            <nav class="engoj_select_color variant-product">
              {% for option in product.options %}
              {% if option == 'Color' or option == 'Colour' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="">
                <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </nav>
            <!-- END VARIANT     -->

            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->

            <div class="info_bottom">

              {% if product.description != blank %}
              <div class="prod_des">
                <p class="mb-0">{{product.description | strip_html | truncatewords : 30}}</p>
              </div>
              {% endif %}

              <!--     ICON PRODUCT -->   
              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <ul class="product-icon-action list-unstyled mb-0 text-center">      


                <li class="quick-view mr-0">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </li>

                <li class="add-to-cart mr-0">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow">
                    {{settings.pia_sold_name}}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" >
                    {{settings.pia_selectoption_name}}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow" >
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {{settings.pia_addcart_name}}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </li>

                <li class="add-wishlist mr-0">
                  {% include 'add-wishlist' %} 
                </li>

              </ul>
              <!--     END ICON -->
            </div>

          </div>

        </div> 

      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>

  <div class="container container-v1 style2 mt-5 ">
    <div class="text-center">
      <h3 class="title_heading">Horizontal Icons Style 9</h3>
    </div>
    <div class="row mt-5 ">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
      <div class="col-lg-3 col-md-6 col-xs-6 col-12">

        <div class="product-item-v9">
          {% assign product_label_new = false %}
          {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
          {% assign time = _time|plus:0 %}
          {% assign now = 'now' | date: '%s'|plus:0 %}

          {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
          {% assign value = _value|plus:0 %}

          {% if now < value %}
          {% assign product_label_new = true %}
          {% endif %}


          {% assign label_popular = false %}
          {% if product.tags contains "popular" %}
          {% assign label_popular = true %}
          {% endif %} 

          {% assign label_hot = false %}
          {% if product.tags contains "hot" %}
          {% assign label_hot = true %}
          {% endif %}

          {% assign on_sale = false %}
          {% if product.compare_at_price > product.price %}
          {% assign on_sale = true %}
          {% endif %}

          {% assign sold_out = true %}
          {% if product.available %}
          {% assign sold_out = false %}
          {% endif %}
          <div class="product mb-30 engoj_grid_parent relative">
            <div class="img-product relative">
              <a href="{{ product.url | within: collection }}" class="engoj_find_img">
                <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
                {% for image in product.images %}
                {% if forloop.last %}
                <img style="width: 100%" data-src="{{ image.src | product_img_url: 'master' }}" class="lazyload img-responsive absolute img-product-hover" alt="{{ product.featured_image.alt | escape }}">
                {% endif %}
                {% endfor %}
              </a>  
              <!--     label product -->
              {% assign product_label_new = false %}
              {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
              {% assign time = _time|plus:0 %}
              {% assign now = 'now' | date: '%s'|plus:0 %}

              {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
              {% assign value = _value|plus:0 %}

              {% if now < value %}
              {% assign product_label_new = true %}
              {% endif %}


              {% assign label_popular = false %}
              {% if product.tags contains "popular" %}
              {% assign label_popular = true %}
              {% endif %} 

              {% assign label_hot = false %}
              {% if product.tags contains "hot" %}
              {% assign label_hot = true %}
              {% endif %}

              {% assign on_sale = false %}
              {% if product.compare_at_price > product.price %}
              {% assign on_sale = true %}
              {% endif %}

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %} 
              {% if on_sale %}
              {% if settings.show_sale_label %}
              {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
              <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
                <span class="sale-percent">{{sale}}%</span>
              </figure>
              {% endif %}
              {% endif %}

              <!--     END LABEL -->


              <!--     ICON PRODUCT -->

              {% assign sold_out = true %}
              {% if product.available %}
              {% assign sold_out = false %}
              {% endif %}
              <ul class="product-icon-action list-unstyled mb-0 text-center px-0">     

                <li class="add-to-cart mr-0">
                  {% if sold_out %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
                    {% if settings.pia_sold_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_sold}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  {% if product.variants.size > 1 %}
                  <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_selectoption_name}}">
                    {% if settings.pia_selectoption_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_selectoption_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_selectoption}}"></i>
                    {% endif %}
                  </a>
                  {% else %}
                  <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart  box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <button type="submit" name="add" class="enj-add-to-cart-btn ">
                      {% if settings.pia_addcart_svg != blank %}
                      <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
                      {% else %}
                      <i class="{{settings.pia_addcart}}"></i>
                      {% endif %}
                    </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </li>  
                <li class="quick-view mr-0">
                  <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
                    {% if settings.pia_quickview_svg != blank %}
                    <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </a>
                </li>
                <li class="add-wishlist mr-0">
                  {% include 'add-wishlist' %} 
                </li>

              </ul>
              <!--     END ICON -->

            </div>

            <h4 class="des-font capital title-product mb-0">
              <a href="{{ product.url | within: collection }}">{{ product.title}}</a>      
            </h4>
            <!--     PRICE -->
            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}

            <p class="price-product mb-0">
              {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
              <span class="price">{{ product.price | money }}</span>
            </p>
            <!-- END PRODUCT     -->

            <!-- VARIANT PRODUCT -->

            <nav class="engoj_select_color variant-product">
              {% for option in product.options %}
              {% if option == 'Color' or option == 'Colour' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="">
                <a class="circle mr-0" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-color: {{ color | split: ' ' | last | handle }};"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </nav>


            <!-- END VARIANT     -->

            <!--     THUMBNAIL PRODUCT -->

            {% if settings.show_thumbnai_pd %}
            {% if product.variants.size > 1 %}

            <div class="variant-image-group engoj_select_color space_top_20">
              {% for option in product.options %}
              {% if option == 'Color' %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
              {% capture color %}{{ variant.options[index] }}{% endcapture %}
              {% unless colorlist contains color %}

              {% assign text = color | handleize %}
              <span class="border">
                <a  class="circle-thumb" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="{% if text == 'white' %}border: 1px solid #bcbcbc; {% endif %}background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
              </span>

              {% capture tempList %}
              {{ colorlist | append: color | append: ' ' }}
              {% endcapture %}

              {% assign colorlist = tempList %}
              {% endunless %}

              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
            {%endif%}
            {% endif %}

            <!-- END THUMBNAIL     -->

          </div>

        </div>  

      </div>
      {% else %}
      {% endfor %}
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Product Hover",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_breadcrumb",
      "label": "Background Image BreadCrumb",
      "info": "1920x510px recommended"
    },
    {
      "type": "collection",
      "id": "select_collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Limit Products",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Product Hover"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
