<!-- /sections/index-reviews.liquid -->
{%- assign slide_style = '3' -%}
{% case section.blocks.size %}
{% when 1 %}
{%- assign slide_style = '1' -%}
{% when 2 %}
{%- assign slide_style = '2' -%}
{% endcase %}

<div class="index-reviews" data-section-id="{{ section.id }}" data-section-type="reviews" data-slide-style="{{ slide_style }}" data-slide-count="{{ section.blocks.size }}">

  <div class="container container-v1">
    {% if section.settings.title != blank %}
    <h1 class="title--decorated">{{ section.settings.title | escape }}</h1>
    {% endif %}

    <div class="reviews reviews--{{ section.blocks.size }}">
      <div class="review__dots medium-up--hide">
        {% include 'dots', direction: 'right' %}
      </div>
      <div class="slick_reviews grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %}" data-reviews-slideshow>
        {% for block in section.blocks %}
        {% if block.settings.image != blank %}
        {% assign img_object = block.settings.image %}
        {% else %}
        {%- assign img_object = 'blank.svg' | asset_url -%}
        {% endif %}
        <div class="review__item slide--{{ block.id }} slide--left" {{ block.shopify_attributes }}>
          <div class="review__card">

            <div class="review__card__text">
              <div class="review__card__text__contents">

                {%- if block.settings.stars > 0 -%}
                <ul class="review__stars unstyled">
                  {% for i in (1..block.settings.stars) %}
                  <li>{% include 'icon-star' %}</li>
                  {% endfor %}
                </ul>
                {%- endif -%}

                {% if block.settings.text != blank %}
                <div class="review__content rte">{{ block.settings.text }}</div>
                {% endif %}
              </div>
            </div>
            <div class="review__image__align">
              <div class="review__image__wrapper">
                <img src="{{ block.settings.image | img_url: '68x68', crop: 'center' }}" alt="{{ block.settings.image.alt | default: block.settings.title }}"/>
                <noscript>
                  <img src="{{ block.settings.image | img_url: '68x68', crop: 'center' }}" alt="{{ block.settings.image.alt | default: block.settings.title }}"/>
                </noscript>
                <div class="content">
                  {% if block.settings.title != blank %}
                  <h2 class="review__name h3">{{ block.settings.title | escape }}</h2>
                  {% endif %}

                  {% if block.settings.job != blank %}
                  <p class="review__title rte--index">{{ block.settings.job | escape }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% if section.blocks.size == 0 %}

    {% endif %}
  </div>
</div>

<script>
  jQuery(document).ready(function($) {

    $('.slick_reviews').slick({
      dots: false,
      arrows:false,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      {% if settings.enable_rtl_mode %}rtl: true,{% endif %}
      autoplaySpeed: 5000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: false,
            arrows:false
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false,
            arrows:false
          }
        }
      ]
    });
  })
</script>
{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Name",
            "default": "Testimonial name"
          },
          {
            "type": "text",
            "id": "job",
            "label": "Context",
            "default": "Ann Smith"
          },
          {
            "type":    "range",
            "id":      "stars",
            "min":     0,
            "max":     5,
            "step":    1,
            "label":   "Stars",
            "info":    "Set to zero to disable",
            "default":  5
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Testimonial",
            "default": "<p>Blood bank canine teeth larynx occupational therapist oncologist optician plaque spinal tap stat strep screen violence joints symptoms x-ray...</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "review"
          },
          {
            "type": "review"
          },
          {
            "type": "review"
          },
          {
            "type": "review"
          },
          {
            "type": "review"
          }
        ]
      }
    ]
  }
{% endschema %}
