<div data-section-id="{{ section.id }}" data-section-type="section-banner-v7" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v7{% if section.settings.ena_margin_top %}  mt-all {% endif %}"> 
    <div class="relative banner-v7 {% if section.settings.ena_container %}container container-v2{% endif %} " style="background-image: url({% if section.settings.img_banner != blank %}{{section.settings.img_banner | img_url: 'master'}} {% else %} //via.placeholder.com/1920x700 {% endif %})">   
      <div class="content-banner {% if settings.enable_rtl_mode %}text-right {% else %}{% if section.settings.select_pos =='left' %} text-left {% elsif section.settings.select_pos == 'center'%}text-center {% elsif section.settings.select_pos == 'right'%} text-right {% endif %}{% endif %}">
        {% if section.settings.title_banner != blank %}
        <h3 class="title-banner" style="color: {{section.settings.color_title}}">{{section.settings.title_banner}}</h3>
        {% endif %}
        {% if section.settings.content_banner != blank %}
        <p class="content" style="color: {{section.settings.color_content_banner}}">{{section.settings.content_banner}}</p>
        {% endif %}
        {% if section.settings.button_banner != blank %}
        <a href="{{section.settings.url_button}}" class="button-banner button-banner-{{ section.id }}">{{section.settings.button_banner}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  .section-banner-v7 .banner-v7 .content-banner .button-banner-{{ section.id }} {
    color: {{section.settings.color_btn}};
    background: {{section.settings.bg_btn}};
  }
  .section-banner-v7 .banner-v7 .content-banner  .button-banner-{{ section.id }}:hover {
    color: {{section.settings.color_btn_hover}};
    background: {{section.settings.bg_btn_hover}};
  }
</style>

{% schema %}
{
  "name": "BANNER V7",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "header",
      "content": "Settings Banner 7"
    },
    {
      "type": "checkbox",
      "id": "ena_container",
      "label": "Enable Container",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "ena_margin_top",
      "label": "Enable Add Margin Top",
      "default": true
    },
    {
      "type": "select",
      "id": "select_pos",
      "label": "Select Position Content",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "title_banner",
      "label": "Title Banner",
      "default": "The Benefits of Having Plants in Your Home "
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "content_banner",
      "label": "Content Banner",
      "default": "Indoor plants don’t just look good – they can make us feel good, too. Studies have shown indoor plants...  "
    },
    {
      "type": "color",
      "id": "color_content_banner",
      "label": "Color Contnet",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "button_banner",
      "label": "Button Banner 1",
      "default": "SHOP NOW"
    },
    {
      "type": "color",
      "id": "color_btn",
      "label": "Color Button",
      "default": "#F3A395"
    },
    {
      "type": "color",
      "id": "bg_btn",
      "label": "Background Color Button",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "label": "Color Button Hover",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_btn_hover",
      "label": "Background Color Button Hover",
      "default": "#F3A395"
    },
    {
      "type": "url",
      "id": "url_button",
      "label": "URL Button Banner",
      "default": "/collections/all"
    },
    {
      "type": "image_picker",
      "id": "img_banner",
      "label": "Image Banner",
      "info": "1920 x 700px recommended"
    }
  ],
  "presets": [
    {
      "name": "BANNER V7",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
