<div data-section-id="{{ section.id }}" data-section-type="section-brand-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-brand-v1" style="background : {{section.settings.bg_color}}">
    <div class="container container-v1">
      <div class="jsbrand_list_v1">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == 'brand' %}
        <div class="item">
          <a href="{{block.settings.brand_url}}">
            {% if block.settings.brand_img != blank %}
            <img src="{{block.settings.brand_img|img_url:'master'}}" class="img-fluid" alt="_brand">
            {% else %}
            <img src="//via.placeholder.com/165x90" class="img-fluid" alt="bland">
            {% endif %}
          </a>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %} 
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
  "name": "BRAND V1",
  "class": "index-section",
  "settings": [
  {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
  {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand V1",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_img",
          "info": "165 x 90px recommended",
          "label": "Brand 1"
        },
        {
          "type": "url",
          "id": "brand_url",
          "label": "URL brand ",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BRAND V1",
      "category": "HOME",
    "blocks": [
        {
          "type": "brand",
          "settings": {
          }
        },
        {
          "type": "brand",
          "settings": {
          }
        },
        {
          "type": "brand",
          "settings": {
          }
        },
    {
          "type": "brand",
          "settings": {
          }
        },
    {
          "type": "brand",
          "settings": {
          }
        },
        {
          "type": "brand",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
