<div data-section-id="{{ section.id }}" data-section-type="section-product-v3" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-product-v3 mt-all">
    <div class="container container-v2">
      <div class="text-center">
        {% if section.settings.title_heading != blank %}
        <h3 class="block-title title_heading" style="color : {{section.settings.color_title}}">{{section.settings.title_heading}}</h3>      	
        {% endif %}
        {% if section.settings.sub_title != blank %}
        <span class="sub_heading" style="color: {{section.settings.color_sub_title}}">
          {{section.settings.sub_title}}
        </span>
        {% endif %}
      </div>
      <div class="row">
        <div class="product_best_sell engoc-row-equal">    
          {% assign products_limit = section.settings.products_limit %}
          {% assign col = section.settings.select_collection %}
          {% for product in collections[col].products limit: products_limit %}
          <div class=" col-lg-3 col-6 col-md-4">
            {% include 'product-item-v1' %}
          </div>

          {% else %}
          {% for i in (1..12) %}
          <div class=" col-lg-3 col-6 col-md-4">
            {% include 'empty-product-item' %}
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "PRODUCT V3",
  "settings": [
	{
      "type": "header",
      "content": "Product 3"
    },
    {
      "type": "text",
      "id": "title_heading",
      "label": "Title section",
      "default": "Best Seller"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color",
      "default": "#222"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title",
      "default": "Best Seller Product This Week!"
    },
    {
      "type": "color",
      "id": "color_sub_title",
      "label": "Color",
      "default": "#666666"
    },
    {
      "type": "header",
      "content": "Info Product"
    },
    {
      "type": "collection",
      "id": "select_collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 8
    },
    {
      "type": "header",
      "content": "Info button"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "PRODUCT V3",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}